body {
    margin: 0;
    background-color: seashell;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    padding-left: 20%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 7.5%;
    gap: 20px;
} 

.card {
    background-color: aliceblue;
    height: 225px;
    padding: 0.5%;
    border: 1px solid black;
    width: 65%;
    display: flex;
    gap: 10%;
}

.card img {
    border-radius: 25px;
    height: 100%;
    aspect-ratio: 1/1;
}

.testi {
    align-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.amazon {
    width: fit-content;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.recensione {
    text-decoration: solid;
    color: red;
}

.address {
    color: darkgray
}

